.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: aliceblue;
    padding: 1rem;
    gap: 1rem;
}

.content {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.addBookBtn {
    position: fixed;
    background-color: blue;
    border-radius: 100%;
    outline: none;
    border: none;
    height: 60px;
    width: 60px;
    bottom: 2rem ;
    right: 2rem;
}

.removeBookBtn {
    background-color: red;
    color: white;
    border: none;
    height: 30px;
    width: 120px;
}

.readBookBtn {
    background-color: red;
    color: white;
    border: none;
    height: 30px;
    width: 120px;
}


svg {
    fill: white;
}